.meetingRoomsList {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px; 
    max-height: 300px; 
    overflow-y: auto;
  }
  
  /* Heading styles */
  .meetingRoomsList h1 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .meetingRoomsList a {
    text-decoration: none; 
    color: inherit;
  }
  

  .meetingRoomsList a:hover {
    color: #0056b3;
  }