/* .singleMeetingRoom {
    border: 1px solid #ccc;
    padding: 50px; 
    margin-bottom: 20px 20px; 
    background-color: #f9f9f9; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
  }  */
  
  /* X  */
  .roomInfoContainer {
    margin: 80px;
    display: grid; 
    justify-content: space-between; 
    margin-bottom: 10px; 
  }
  
  .singleMeetingRoom a {
    text-decoration: none; 
    color: #007bff; 
    transition: color 0.3s; 
  }
  
  .singleMeetingRoom a:hover {
    color: #0056b3; 
  }
  